<article class = "post">
    <div class = "title">
        <a href = "{{post_url}}" target = "_blank">{{title}}</a>
        <span>{{format_url post_url}}</span>    
            <p>{{post_body}}</p>
    </div>
    
    <div class = "meta">
        <a href = "/post/{{id}}"> {{Comments.length}} {{format_plural "comment" Comments.length }}</a>
    </div>
</article>